[Desktop Entry]
Terminal=false
Type=Application
Name=PSA Compressor
Comment=Moveset editing tool for Super Smash Bros. Brawl
Path=~/your/path/here
Exec=WINEPREFIX=~/.wine-brawl wine PSACompressor.exe %f
Icon=psacompressor
StartupWMClass=psacompressor.exe
Categories=Tools;
StartupNotify=true
MimeType=application/brawl-pac;
Keywords=psac;psacompressor;projectsmashattacks;opensa;
InitialPreference=0